# Ignoring python stuff
__pycache__
app.egg-info
*.pyc
.mypy_cache
.coverage
htmlcov
.cache
venv
.pytest_cache

# Ignoring environment variables
.env
.vscode/settings.json

# Ignoring development upload files
development_files/

# Ignaring raw sql files
Muebles_dev.session.sql

.DS_Store